<input type="text" value="{{title}}" id="posttitle">
<textarea id="postcontent" cols="30" rows="10">{{content}}</textarea>
<button id="update">Update Post</button>
<button id="delete">Delete Post</button>